.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #083b66;
    padding: 20px;
  }
  
  .navbar-logo {
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.2rem;
  }
  
  .navbar-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
  }
  
  .navbar-links li a:hover {
    opacity: 0.8;
  }
  